.date {
  position: relative;
  top: 20px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 1.2em;
  color: cornflowerblue;
  height: auto;
}
.date .day {
  position: relative;
  top: 20px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  font-family: "微软雅黑";
  font-size: 1.2em;
  color: cornflowerblue;
  height: auto;
  border: 1px solid gray;
  background-color: white;
}
.date .pass {
  top: 20px;
  margin: 10px;
  text-align: center;
  position: relative;
  height: auto;
  background-color: white;
  border: 1px solid gray;
}
.date .pass .blockone,
.date .pass .blocktwo,
.date .pass .blockthree,
.date .pass .blockfour {
  position: relative;
  display: block;
  padding: 10px;
  font-weight: 700;
  margin: 20px;
  background-color: cadetblue;
  color: white;
}
.date .pass .blockone:before,
.date .pass .blocktwo:before,
.date .pass .blockthree:before,
.date .pass .blockfour:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  left: -15px;
  top: 15px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid cadetblue;
  -webkit-transform: rotate(90deg);
}
.qwer {
  position: relative;
  width: 100%;
  height: 100px;
}
